{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>

    {{ include('quiz/_form.html.twig') }}


    <a href="{{ path('edit_quiz_questions_show', {'id': quiz.id}) }}">back to questions</a>
{% endblock %}