{% extends 'base.html.twig' %}
    {% block body %}
    <div style="text-align:center">
        Hello pal, in this site you can play some quizzes.
        <br>
        But first you must sign in, or register, if you never been there.
        <br>
        Have fun :)
        <br>
        <a href="{{ path('app_login') }}">Sing in</a>
        <br>
        <a href="{{ path('app_registration') }}">Sing up</a>
    </div>
    {% endblock %}